/* ___FONTS____ */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* ___GLOBAL___ */

::-webkit-scrollbar {
    display: none;
}

*:focus {
	outline: none;
}

/* ___RESET___ */

html, body, div, a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ul, ol {
	list-style: none;
}


/* ___GENERAL___ */

body {
  /*font-family: 'Montserrat';*/
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #222;
  text-align: center;
  margin: 0 auto 50px;
  color: #777;
}

.links {
	color: #767676;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #767676;
}

a:hover {
	text-decoration: underline;
}


/* ___RENAME___ */

#rename_form input {
	font-size: 24px;
	margin: none;
	text-align: center;
	border: none;
	height: 60px;
	width: 200px;
	background: #333;
  margin: 0 5px 0 5px;
	border-radius: 5px;
	color: #fff;
}

#rename_form input[type='submit'] {
  color: #999;
  transition: 300ms;
}

#rename_form input[type='submit']:hover {
  color: #efefef;
  transition: 300ms;
  cursor: pointer;
}

#rename_form {
  text-align: center;
}

#rename_form i {
  font-size: 30px;
  vertical-align: middle;
}

.g-recaptcha {
  margin: 30px auto;
  width: 304px;
}


/* ___NOTICE___ */

.notice {
  position: relative;
  top: 0px;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 100%;
  background-color: #53E053;
}

.notice div {
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  font-size: 12px;
  text-align: center;
}


/* ___TRACKING___ */

.track_table {
	margin: 0 auto;
	border-spacing: 0px;
}

.track_table td {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px;
}

.track_table th {
	padding-bottom: 15px;
}

.track_table td {
	font-family: 'Montserrat';
	font-size: 14px;
	text-align: right;
	padding: 15px 20px 15px 20px;
}

.track_table td:nth-child(4):hover { cursor: pointer; }

.virt {
	text-decoration: underline;
}

.gain {
	font-weight: bold;
	color: #53E053;
}

.username {
	position: relative;
	display: inline;
	color: #999;
}

.updated {
	position: relative;
	display: inline;
	color: #999;
}

.updated a { color: #999; transition: 500ms; }
.updated a:hover { color: #fff; transition: 500ms; }

.top_box {
	margin: 0 auto;
	width: 500px;
}

/* ___HISCORES___ */

.hiscore_table {
	margin: 0 auto 50px;
	border-spacing: 0px;
	display: inline-flex;
}

.hiscore_table td {
	font-family: 'Montserrat';
	font-size: 14px;
}

.hiscore_table td:nth-child(1) { text-align: right; padding: 25px 20px 0px 0px; }
.hiscore_table td:nth-child(2) { text-align: left; padding: 25px 50px 0px 0px; }
.hiscore_table td:nth-child(3), .hiscore_table td:nth-child(4),
.hiscore_table td:nth-child(5) { text-align: right; padding: 25px 0px 0px 50px; }


.weekly_gain {
	font-weight: bold;
	color: #53E053;
}

#skill_dropdown {
	font-size: 36px; transition: 500ms; margin-bottom: 20px;
}

#skill_dropdown:hover {
	color: #e6e6e6; transition: 500ms;
}

.skill_menu {
	width: 570px;
	height: 230px;
	left: 50%;
	margin-left: -285px;
	border-radius: 5px;
	background: #333;
	position: absolute;
	display: none;
}

.skill_table {
	margin: 10px auto;
  width: 400px;
}

.skill_table td {
	padding: 8px 0px 0px 0px;
	text-align: center;
	transition: 500ms;
}

.skill_table td img {
	padding: 5px;
	border-radius: 5px;
	transition: 500ms;
	height: 30px;
	width: 30px;
}

.skill_table td img:hover {
	background: #555;
	transition: 500ms;
	cursor: pointer;
}

.tr_selected td {
  color: #53E053 !important;
}

/* ___PAGINATION___ */

.page_select { margin-bottom: 50px; }

.page_select a {
	color: #777;
	text-decoration: none;
}

.page_select div {
	height: 25px;
	width: 35px;
	background: #444;
	display: inline-flex;
	border-radius: 5px;
	margin-left: 10px;
	border-bottom: 2px solid #666;
	transition: 500ms;
	vertical-align: middle;
}

.page_select div p {
	font-size: 15px;
	text-align: center;
	margin:  auto;
}

.page_select div:hover {
	background: #666;
	border-bottom: 2px solid #999;
	transition: 500ms;
}

.page_active {
	color: #fff;
	background: #666 !important;
	border-bottom: 2px solid #555 !important;
}

.disabled {
	color: #444;
	background: #333 !important;
	border-bottom: 2px solid #333 !important;
}

.page_active p {

}

#page_search {
	margin-left: 0px;
	background: #444;
	width: 33px;
	height: 23px;
	text-align: center;
	border: 0;
	border-radius: 5px;
	border-bottom: 2px solid #666;
	color: #999;
	font-size: 15px;
	font-family: 'Montserrat';
}


/* ___SEARCH___ */

#search input {
	font-size: 24px;
	display: none;
	margin: none;
	text-align: center;
	border: none;
	height: 60px;
	width: 400px;
	background: #333;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: -200px;
	z-index: 1;
	border-radius: 5px;
	color: #fff;
}

#input_btn {
	position: fixed;
	margin: 0 auto;
	left: 50%;
	margin-left: 139px;
	padding: 0;
	top: 50px;
	z-index: 0;
	opacity: 0;
	border: 0;
	outline: 0;
	height: 25px;
	width: 22.281px;
}


/* ___NAVIGATION___ */

.nav {
	text-align: center;
	overflow: hidden;
	margin: 50px auto;
	width: 400px;
	position: relative;
}

.nav a {
  display: block;
  position: relative;
	float: left;
	padding: 0em 0 .5em;
	width: 20%;
	font-size: 24px;
	text-decoration: none;
	color: #666;
	cursor: pointer;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
	-ms-transition: .7s;
	transition: .7s;
}

.nav a:hover { color: #e6e6e6; }

.nav a:nth-child(1):hover ~ .effect { left: 0%;}
.nav a:nth-child(2):hover ~ .effect { left: 20%; }
.nav a:nth-child(3):hover ~ .effect { left: 40%; }
.nav a:nth-child(4):hover ~ .effect { left: 60%; }
.nav a:nth-child(5):hover ~ .effect { left: 80%; }

.navigation .effect {
	width: 80px;
	height: 2px;
	bottom: 0px;
	background: #e6e6e6;
	position: absolute;
	left: -80px;
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	-ms-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

.underline_effect {
	position: relative;
	top: 34px;
	height: 2px;
	background: #666;
}

/* ___RECORDS___ */

.record_column {
	width: 45%;
	float: left;
	margin: 0px 10px 0px 10px;
}

.record_table {
	margin: 0 auto;
	width: 45%;
	font-size: 14px;
	border-spacing: 0px;
}

#bxpw_table {
  width: 93%;
}

.record_table td {
	white-space: nowrap;
	line-height: 36px;
}

.record_table td:nth-child(3) { font-weight: bold; color: #53E053; }
.record_table td:nth-child(1) { text-align: right; padding: 0px 5px 0px 5px; }
.record_table td:nth-child(2) { text-align: left; padding: 0px 10px 0px 10px; width: 150px;}
.record_table td:nth-child(3) { text-align: right; padding: 0px 10px 0px 20px; }
.record_column h1, .record_column td { text-align: center; }

.content {
	width: 900px;
	margin: 0 auto;
}

/* ___TABS___ */

.tabs {
	width: 100%;
    display: inline-block;
}

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab_icon {
	height: 20px;
	width: 20px;
}

.tab-links li {
	float: left;
	display: inline;
    list-style: none;
}

.tab-links a {
	width: 23.2px;
	padding: 5px 11px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border-radius: 10px 10px 0px 0px;
	background: #333;
	font-size: 16px;
	color: #4c4c4c;
	transition: all linear 0.15s;
}

.tab-links a:hover {
    background: #444;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #444;
    color: #4c4c4c;
}

.tab-content {
	padding: 15px;
	margin-left: 40px;
	margin-right: 2px;
	margin-top: -16px;
    text-align: left;
    border-radius: 0px 0px 5px 5px;
    background: #444;
    line-height: 24px;
    height: 450px;
}

.tab { display: none; }
.tab.active { display: block; }

.tr_selected td {
  color: #53E053 !important;
}

.tr_selected a {
  color: #53E053 !important;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ___SLIDER___ */

.switch {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #343a40;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
