/* Adze Page */

.card-content .column img {

  width: 20px
}

/* Evil Tree Tracking Page */

td .legacy {
  color: #7d6f4f;
}

/* Urns page */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* EHP page */

.progress::-webkit-progress-bar {
    background-color: #dbdbdb;
}

/* Skill progress bar colors */

#attack::-webkit-progress-value {
  background-color: #f03e3e;
}

#attack::-moz-progress-bar {
  background-color: #f03e3e;
}


#defence::-webkit-progress-value {
  background-color: #ccedff;
}

#defence::-moz-progress-bar {
  background-color: #ccedff;
}


#strength::-webkit-progress-value {
  background-color: #12b886;
}

#strength::-moz-progress-bar {
  background-color: #12b886;
}


#constitution::-webkit-progress-value {
  background-color: #ff8787;
}

#constitution::-moz-progress-bar {
  background-color: #ff8787;
}


#ranged::-webkit-progress-value {
  background-color: #2f9e44;
}

#ranged::-moz-progress-bar {
  background-color: #2f9e44;
}


#prayer::-webkit-progress-value {
  background-color: #ffec99;
}

#prayer::-moz-progress-bar {
  background-color: #ffec99;
}


#magic::-webkit-progress-value {
  background-color: #4dadf7;
}

#magic::-moz-progress-bar {
  background-color: #4dadf7;
}


#cooking::-webkit-progress-value {
  background-color: #b197fc;
}

#cooking::-moz-progress-bar {
  background-color: #b197fc;
}


#woodcutting::-webkit-progress-value {
  background-color: #2b8a3e;
}

#woodcutting::-moz-progress-bar {
  background-color: #2b8a3e;
}


#fletching::-webkit-progress-value {
  background-color: #69db7c;
}

#fletching::-moz-progress-bar {
  background-color: #69db7c;
}


#fishing::-webkit-progress-value {
  background-color: #ccedff;
}

#fishing::-moz-progress-bar {
  background-color: #ccedff;
}


#firemaking::-webkit-progress-value {
  background-color: #ff6b6b;
}

#firemaking::-moz-progress-bar {
  background-color: #ff6b6b;
}


#crafting::-webkit-progress-value {
  background-color: #f59f00;
}

#crafting::-moz-progress-bar {
  background-color: #f59f00;
}


#smithing::-webkit-progress-value {
  background-color: #868e96;
}

#smithing::-moz-progress-bar {
  background-color: #868e96;
}


#mining::-webkit-progress-value {
  background-color: #72c3fc;
}

#mining::-moz-progress-bar {
  background-color: #72c3fc;
}


#runecrafting::-webkit-progress-value {
  background-color: #ffe066;
}

#runecrafting::-moz-progress-bar {
  background-color: #ffe066;
}


#dungeoneering::-webkit-progress-value {
  background-color: #ff922b;
}

#dungeoneering::-moz-progress-bar {
  background-color: #ff922b;
}
